[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -moz-user-drag: element;
  -webkit-user-drag: element;
  -khtml-user-drag: element;
  user-drag: element;
}

.galaxy-display {
  display: flex;
  flex: 1;
  background-color: #121212;
  overflow-y: auto;
  overflow-x: auto;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.hexagon:hover {
  z-index: 10000;
}
.hexagon.outlined {
  z-index: 10000;
}
