// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
// @use "~bootstrap/scss/functions";

// // 2. Include any default variable overrides here
// $border-color: #85bdde;

// // 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
// @use "~bootstrap/scss/variables";
// // @use "~bootstrap/scss/variables-dark";

// // 4. Include any default map overrides here

// // 5. Include remainder of required parts
// @use "~bootstrap/scss/maps";
// @use "~bootstrap/scss/mixins";
// @use "~bootstrap/scss/utilities";

// @use "~bootstrap/scss/root";
// @use "~bootstrap/scss/forms";
// @use "~bootstrap/scss/buttons";

// @import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  padding: 1em;
  font-family: sans-serif;
  background: #f0f0f0;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -moz-user-drag: element;
  -webkit-user-drag: element;
  -khtml-user-drag: element;
  user-drag: element;
}

.hexagon:hover {
  z-index: 10000;
}
.hexagon svg {
  fill-opacity: 0;
}

.hexagon:hover svg {
  transition: fill-opacity .2s;
  fill: #3F51B5;
  fill-opacity: 100;
}