$outline-width: 5;

.handbar {
    height: 140px;
    align-items: center;
    padding: 8px;
    overflow-x: auto;
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.handbar > *:not(:first-child) {
    margin-left: 8px; 
}

.hand-tile {
    display: flex;
    flex-shrink: 0;
    width: 120px;
    position: relative;
}